{% extends 'base.html.twig' %}


{% block title %}Politique de Confidentialité - Virtual Urban Flow{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<h1 class="green">Politique de Confidentialité</h1>

<h2 class="purple">1. Collecte de l’information</h2>
<p>Nous recueillons des informations lorsque vous vous inscrivez sur notre site, lorsque vous vous connectez à votre compte, faites un achat, participez à une promotion, et/ou lorsque vous vous déconnectez. Les informations recueillies incluent votre nom, adresse e-mail, numéro de téléphone, et/ou carte de crédit.</p>

<h2 class="purple">2. Utilisation des informations</h2>
<p>Toutes les informations que nous recueillons auprès de vous peuvent être utilisées pour :</p>
<ul>
    <li>Personnaliser votre expérience et répondre à vos besoins individuels</li>
    <li>Fournir un contenu publicitaire personnalisé</li>
    <li>Améliorer notre site Web</li>
    <li>Améliorer le service client et vos besoins de prise en charge</li>
    <li>Vous contacter par e-mail</li>
    <li>Administrer un concours, une promotion, ou une enquête</li>
</ul>

<h2 class="purple">3. Confidentialité du commerce en ligne</h2>
<p>Nous sommes les seuls propriétaires des informations recueillies sur ce site. Vos informations personnelles ne seront pas vendues, échangées, transférées, ou données à une autre société pour n’importe quelle raison, sans votre consentement, en dehors de ce qui est nécessaire pour répondre à une demande et/ou une transaction, comme par exemple pour expédier une commande.</p>

<h2 class="purple">4. Divulgation à des tiers</h2>
<p>Nous ne vendons, n’échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. Ceci ne comprend pas les tiers de confiance qui nous aident à exploiter notre site web, à mener nos affaires, ou à vous servir, tant que ces parties conviennent de garder ces informations confidentielles.</p>

<h2 class="purple">5. Protection des informations</h2>
<p>Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. Nous protégeons également vos informations hors ligne. Seuls les employés qui ont besoin d’effectuer un travail spécifique (par exemple, la facturation ou le service client) ont accès aux informations personnelles identifiables. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.</p>

<h2 class="purple">6. Consentement</h2>
<p>En utilisant notre site, vous consentez à notre politique de confidentialité.</p>
{% endblock %}
