<footer class="w3-container w3-padding-16 w3-dark-gray">
    <!-- Mentions légales sur la gauche -->
    <div class="w3-third w3-container">
        <a href="{{ path('app_legal') }}" class="w3-button w3-left w3-text-light-grey">Mentions légales</a>
    </div>
    
    <!-- Icônes des réseaux sociaux au centre -->
    <div class="w3-third w3-container  w3-center">
        <a href="https://www.instagram.com/" class="w3-text-light-grey w3-large w3-margin-right"><i class="fa fa-instagram green w3-hover-opacity"></i></a>
        <a href="https://accounts.snapchat.com/accounts/v2/login" class="w3-text-light-grey w3-large w3-margin-right"><i class="fa fa-snapchat green w3-hover-opacity"></i></a>
        <a href="https://x.com/" class="w3-text-light-grey w3-button w3-large w3-margin-right"><i class="  green w3-hover-opacity">X</i></a>
    </div>
    
    <!-- Lien vers la page Nos services sur la droite -->
    <div class="w3-third w3-container">
        <a href="{{ path('app_services') }}" class="w3-button w3-right w3-text-light-grey">Nos services</a>
    </div>
</footer>
