{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente - Virtual Urban Flow{% endblock %}


{% block body %}
<br>
<br>
<br>
<br>
<h1 class="green">Conditions Générales de Vente</h1>

<h2 class="purple">1. Introduction</h2>
<p>Ces conditions de vente sont conclues d’une part par le créateur du site Virtual Urban Flow dont le siège social est situé en France et, d’autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site Web de « Virtual Urban Flow » désigné ci-après par « l’acheteur ».</p>

<h2 class="purple">2. Caractéristiques des biens et services proposés</h2>
<p>Les produits et services offerts sont ceux qui figurent dans le catalogue publié dans les pages du site de Virtual Urban Flow. Ces produits et services sont offerts dans la limite des stocks disponibles.</p>

<h2 class="purple">3. Tarifs</h2>
<p>Les prix figurant dans le catalogue sont des prix TTC en euro tenant compte de la TVA applicable au jour de la commande; tout changement du taux pourra être répercuté sur le prix des produits ou des services.</p>

<h2 class="purple">4. Commandes</h2>
<p>L’acheteur, qui souhaite acheter un produit ou un service doit obligatoirement :</p>
<ul>
    <li>remplir la fiche d’identification sur laquelle il indiquera toutes les coordonnées demandées;</li>
    <li>remplir le bon de commande en ligne en donnant toutes les références des produits ou services choisis;</li>
    <li>valider sa commande après l’avoir vérifiée;</li>
    <li>effectuer le paiement dans les conditions prévues;</li>
    <li>confirmer sa commande et son règlement.</li>
</ul>
<p>La confirmation de la commande entraîne acceptation des présentes conditions de vente, la reconnaissance d’en avoir parfaite connaissance et la renonciation à se prévaloir de ses propres conditions d’achat ou d’autres conditions.</p>

<h2 class="purple">5. Paiement</h2>
<p>Le paiement est exigible à la commande. Les paiements seront effectués par carte bancaire; ils seront réalisés par le biais du système sécurisé qui utilise le protocole SSL (Secure Socket Layer) de sorte que les informations transmises sont cryptées par un logiciel et qu’aucun tiers ne peut en prendre connaissance au cours du transport sur le réseau.</p>

<h2 class="purple">6. Livraison</h2>
<p>Les livraisons sont faites à l'adresse indiquée dans le bon de commande qui ne peut être que dans la zone géographique convenue. Les risques sont à la charge de l’acheteur à partir du moment où les produits ont été pris en charge par le transporteur.</p>

<h2 class="purple">7. Responsabilité</h2>
<p>Le vendeur, dans le processus de vente en ligne, n’est tenu que par une obligation de moyens; sa responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires.</p>

<h2 class="purple">8. Droit applicable et juridiction compétente</h2>
<p>Les présentes conditions de vente en ligne sont soumises à la loi française. En cas de litige, compétence est attribuée aux tribunaux compétents de France, nonobstant pluralité de défendeurs ou appel en garantie.</p>
{% endblock %}
