{% extends 'base.html.twig' %}


{% block title %}
    Nos Services et Tarifs - Virtual Urban Flow
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="services">
    <h2 class="w3-wide green">Nos Services et Tarifs</h2>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <thead>
            <tr class="w3-light-grey">
                <th class="purple">Service</th>
                <th class="purple">Description</th>
                <th class="purple">Tarif</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Création de défilé personnalisé</td>
                <td>Conception d'un défilé de mode streetwear personnalisé avec choix des modèles et des tenues.</td>
                <td>500€ par défilé</td>
            </tr>
            <tr>
                <td>Consultation de style IA</td>
                <td>Session de consultation pour intégrer l'intelligence artificielle dans la création de designs uniques.</td>
                <td>150€ par heure</td>
            </tr>
            <tr>
                <td>Accès premium à la plateforme</td>
                <td>Accès illimité à toutes nos ressources et défilés, avec priorité sur les nouvelles collections.</td>
                <td>75€ par mois</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Insert your JavaScript code here if needed
</script>
{% endblock %}
