/* style.css */

/* La règle suivante s'applique à tous les éléments de la page */

* {
  color: #e6e6e6; /* Définit la couleur du texte en #e6e6e6 (gris clair) */
 /* Définit la couleur d'arrière-plan en rouge et utilise !important pour remplacer toute autre règle CSS avec une spécificité plus élevée */
  font-family: 'Permanent Marker', cursive; /* Définit la police d'écriture en 'Permanent Marker' avec une police cursive comme police de secours */
}

/* La règle suivante s'applique à tous les éléments avec la classe "green" */

.green {
  color: #50F609; /* Définit la couleur du texte en #50F609 (vert clair) */
}

/* La règle suivante s'applique à tous les éléments avec la classe "vert" */

.vert {
  background-color: #50F609; /* Définit la couleur d'arrière-plan en #50F609 (vert clair) */
}

/* La règle suivante s'applique à tous les éléments avec la classe "purple" */

.purple {
  color: #9C09F6; /* Définit la couleur du texte en #9C09F6 (violet foncé) */
}

/* La règle suivante s'applique à tous les éléments avec la classe "violet" */

.violet {
  background-color: #9C09F6; /* Définit la couleur d'arrière-plan en #9C09F6 (violet foncé) */
}

/* La règle suivante s'applique à tous les éléments avec la classe "footer-column" */

.footer-column {
  padding: 20px; /* Définit un remplissage interne de 20px sur tous les côtés de l'élément */
}
.w3-hover-opacity.green:hover {
    opacity: 0.6;
    color: green;
}
.social-icons {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.social-icons i {
    font-size: 24px;
}
footer {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  background-color: #23272a ;

}
/* styles.css */
a {
  text-decoration: none; /* Enlève le soulignement */
}

footer a {
  text-decoration: none !important ;
}
