{% extends 'base.html.twig' %}

{% block title %}Nos défilés{% endblock %}

{% block body %}


  <div class="w3-display-middle" id="">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide  green w3-center">Nos défilés</h2>
      <p class="w3-opacity purple w3-center">Démonstration de nos capacités</p><br>

     

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="{{ asset('build/images/parkour.jpeg') }}" 
          alt="Parkour"
           style="width:100%" 
           class="w3-hover-opacity w3-mobile">
          <div class="w3-container">
            <p><b>Parkour</b></p>
            <p class="w3-opacity">Janvier</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button  w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Exemple</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
         <img src="{{ asset('build/images/diversity.jpeg') }}"
           alt="diversity" style="width:100%" 
           class="w3-hover-opacity w3-mobile">
          <div class="w3-container ">
            <p><b>Diversité</b></p>
            <p class="w3-opacity">Février</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button  w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'"> Exemple</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
         <img src="{{ asset('build/images/tree.jpeg') }}" 
          alt="tree"
           style="width:100%" 
           class="w3-hover-opacity w3-mobile">
          <div class="w3-container ">
            <p><b>Journée de la terre</b></p>
            <p class="w3-opacity">Mars</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button  w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Exemple</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container  w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button  w3-xlarge w3-display-topright">×</span>
       <img src="{{ asset('build/images/catwalk_vid.gif') }}" autoplay width="350" height="auto"></img>
    </div>
  </div>
{% endblock %}
