{% extends 'base.html.twig' %}

{% block title %}Hello CatwalksController!{% endblock %}

{% block body %}

<div class="w3-center">

<img src="{{ asset('build/images/catwalk_vid.gif') }}" autoplay></img>


  
</div>
{% endblock %}
