{# templates/contact/confirmation.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Confirmation de Contact{% endblock %}

{% block body %}
<div class="w3-display-middle">
<div class="container">
    <h1 class="green">Merci de nous avoir contacté!</h1>
    <p>Votre message a bien été reçu. Nous vous répondrons dès que possible.</p>
    {#<a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>#}
</div></div>
{% endblock %}
