<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Virtual Urban Flow{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'partials/navbar.html.twig' %}
    <div class="w3-gray">
        {% block body %}{% endblock %}
    </div>
    {% include 'partials/footer.html.twig' %}
    <script src="{{ asset('build/scripts/main.js') }}"></script>
    <script>
        // JavaScript pour contrôler le modal des cookies
        function acceptCookies() {
            document.getElementById('cookieConsentModal').style.display='none';
            localStorage.setItem('cookiesAccepted', 'true');
        }

        window.onload = function() {
            if (!localStorage.getItem('cookiesAccepted')) {
                document.getElementById('cookieConsentModal').style.display='block';
            }
        }
    </script>
</body>
</html>
